.cadastro {
    display:flex;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.CabecalhoCadastro {
    width: 60%;
    margin-left: 70px;
    margin-bottom: 20px; 
    margin-top: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.CadastroContainer {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 50px;
}
.NameAndDate {
    display: flex;
    flex: 1;

}

.TextDown {
    margin-top: 15px;
    margin-left: 7px;
    font-size: 14px;
    font-style: normal;
}
a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: #004243;
    text-decoration: none;
}

a:active {
    color: blue;
    text-decoration: underline;
}

h1 {
    font-size: 24px;
}
