.login {
    display:flex;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}
.cabecalho {
    width: 60%;
    margin-bottom: 20px; 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 1366px) {
    .cabecalho {
        width: 60%; 
        margin-left: 60px; 
        margin-top: 100px; 
    }
}

.Logincontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 100px;
}

.LoginInput {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

@media (max-width: 1366px) {
    .Logincontainer {
        width: 100%; 
        padding: 0 100px; 
    }
}

.CadSenha {
    width: 100%;
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Kumbh Sans", Helvetica, sans-serif;
    font-style: regular;
    font-weight: 400;
    font-size: 30px;
    line-height: 26px; /* 173.333% */
    letter-spacing: 0.46px;
    display: flex;
}

.CadSenha > div {
    margin: 0px 70px 0 0;
    padding: 1px 8px;
}

@media (max-width: 1366px) {
    .CadSenha > div {
        width: 100%;
        margin: 0 100px 0 0; /* Reduz a margem à direita */
        padding: 4px 8px; /* Ajuste o padding */
        width: 14px;
    }
}

a {
    color: #000;
    text-decoration: none;
    font-size: 16px !important;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: #004243;
    text-decoration: none;
}

a:active {
    color: blue;
    text-decoration: underline;
}

h1 {
    font-size: 24px;
}
