.senha {
    display:flex;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.CabSenha {
    width: 60%;
    margin-left: 70px;
    margin-bottom: 60px; 
    margin-top: 180px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.RecSenha {
    width: 50%;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 50px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: #004243;
    text-decoration: none;
}

a:active {
    color: blue;
    text-decoration: underline;
}

h1 {
    font-size: 24px;
}
